/ArrayApp.class
/AuthApp.class
/AuthApp2.class
/AuthApp3.class
/BolleanApp.class
/ComparisonOperator.class
/ComparisonOperator2.class
/IfApp.class
/LogicalOperatorApp.class
/LoopApp.class
/LoopArray.class
